.ptb25{
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}
.pt25{
	padding-top: 1.5rem;
}
.pb25{
	padding-bottom: 1.5rem;
}

.ptb50{
	padding-top: 3.3rem;
	padding-bottom: 3.3rem;
}
.pt50{
	padding-top: 3.3rem;
}
.pb50{
	padding-bottom: 3.3rem;
}